body {
    text-align: center;
}


.wrapper {
    width: 512px;
    margin: 0 auto;
    margin-top: 2em;
}


#instructions {
    float: center;
    font-family: sans-serif;
    color: #757575;
}

#life {
    float: center;
    color: black;
    font-size: 2em;
}

#game-over, #game-over-overlay {
    margin: auto;
    width: 505px;
    height: 550px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none; 
}

#game-over-overlay {
    background-color: black;
    opacity: .7;
}

#game-over {
    height: 200px;
    text-align: center;
    color: white;
}

#game-over h1 {
    font-size: 3em;
    font-family: 'Poller One', cursive, sans-serif;
}

#game-over button {
    font-size: 1.5em;

}